body {
	font-family: "Roboto", sans-serif;
	color: #2e2f42;
	background-color: #fff;
}
a:hover {
	color: #404bbf;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
.header{
	font-size: 16px;
}
.nav-link{
font-weight: 500;
color: #434455;
}
.nav-link:active {
	color: #404bbf;
}
.contacts-link{
		font-weight: 400;
		color: #434455;
		font-style: normal;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}
.header-logo .logo-part {
color: #2e2f42;
}
.hero{
	font-family: "Roboto", sans-serif;
}
.button{
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	background-color: #4d5ae5;
}
.button:hover{
	background-color: #404bbf;
}
h1 {
	font-weight: 700;
	font-size: 56px;
	color: #fff;
}
.content{
font-family: "Roboto", sans-serif;
}
.advantages{
	font-weight: 500;
	font-size: 20px;
	color: #2e2f42;
}
.advantages-list{
	font-weight: 400;
	font-size: 16px;
	color: #434455;
}

.team{
	font-family: "Roboto", sans-serif;
	color: #2e2f42;
}
.ourteam{
	font-weight: 700;
	font-size: 36px;
}
.team-content{
	font-weight: 500;
	font-size: 20px;
}
.team-text{
	font-weight: 400;
	font-size: 16px;
	color: #434455;
}
.portfolio{
	font-family: "Roboto", sans-serif;
	color: #2e2f42;
}
.ourportfolio{
	font-weight: 700;
	font-size: 36px;
}
.portfolio-content{
	font-weight: 500;
	font-size: 20px;
}
.portfolio-text{
	font-weight: 400;
	font-size: 16px;
	color: #434455;
}
.footer{
	font-family: "Roboto", sans-serif;
}
.footer-offer{
	font-weight: 400;
	font-size: 16px;
	color: #f4f4fd;
}
.footer-logo .logo-part {
	color: #f4f4fd;
}